<div class="page-header">
  <h1><%= @to_do.title %>
    <small>
      <%= link_to edit_to_do_path(@to_do) do %>
        <span class="fa fa-pencil" aria-hidden="true"></span>
      <% end %>
    </small>
  </h1>
</div>

<div class="to-dos-container">
  <% @to_do.to_do_items.each do |to_do_item| %>
    <div>
      <%= link_to to_do_item.description, edit_to_do_to_do_item_path(@to_do, to_do_item) %>
      <%= link_to to_do_to_do_item_path(@to_do, to_do_item), method: :delete do %>
        <span class="fa fa-trash-o pull-right" aria-hidden="true"></span>
      <% end %>
    </div>
    <hr />
  <% end %>
</div>

<%= link_to 'Add item', new_to_do_to_do_item_path(@to_do), class: 'btn btn-success' %>
<%= link_to 'back', to_dos_path, class: 'btn btn-default' %>
